<article class="article-teaser">
  <header>
    <h1>{{article.title}}</h1>
    {{human-date date=article.pubdate}}
  </header>
  <div class="summary">
    {{content-summary content=article.description}}
  </div>
</article>
